/* Style Sheet */


/* GLOBALS */

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #ECEEF1;
    font-size: 1.6rem;
    width: 100%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

.d-flex {
    display: flex;
}

.no-margin {
    margin: 0rem;
}

.line-h {
    line-height: 1.3;
}

.center-text {
    text-align: center;
}

.center-container {
    margin: 0 auto;
}


/* CUSTOM BUTTOM */

button {
    background-color: #0077C5;
    color: #ffffff;
    border: .1rem solid #000000;
    border-radius: 3%;
    padding: 0rem 4rem;
}


/* HEADER */

.header-container {
    margin-top: 1rem;
    justify-content: flex-end;
    margin-right: 2rem;
}

.header-content {
    margin-right: 2rem;
}


/* SITE IMAGE */

.img-div {
    justify-content: center;
    align-items: center;
}

.logo-container {
    margin-right: 1rem;
}

.logo-container img {
    width: 3rem;
    padding-right: .5rem;
}