/* Style Sheet */


/* GLOBALS */

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #ECEEF1;
    font-size: 1.6rem;
    width: 100%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: #4c4c4c;
    font-size: 2.5rem;
}

a {
    color: #0077C5;
    padding: 0rem;
    margin: 0rem;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
}

.no-margin {
    margin: 0rem;
}

.line-h {
    line-height: 1.3;
}

.center-text {
    text-align: center;
}

.center-container {
    margin: 0 auto;
}


/* CUSTOM BUTTOM */

button {
    background-color: #0077C5;
    color: #ffffff;
    border: .1rem solid #000000;
    border-radius: 3%;
    padding: 0rem 4rem;
}


/* HEADER */

.header-container {
    margin-top: 1rem;
    justify-content: flex-end;
    margin-right: 2rem;
}

.header-content {
    margin-right: 2rem;
}


/* SITE IMAGE */

.header-img {
    margin: 0 auto;
    background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/ecosystem_logos_new@2x-9448e6be.png);
    background-size: 562px 83px;
    background-repeat: no-repeat;
    background-position: top left;
    height: 5.5rem;
    width: 11.5rem;
}

.img-div {
    justify-content: center;
    align-items: center;
}

.logo-container {
    margin-right: 1rem;
}

.logo-container img {
    width: 3rem;
    padding-right: .5rem;
}


/* Main */

.main-container {
    width: 50%;
    background-color: #ffffff;
    border: .1rem solid #c7c7c7;
    padding: 1.5rem;
}

.account-intro p {
    margin-bottom: 0rem;
}

.form-content {
    border: none;
    padding: 0rem;
    margin: 0rem;
}

.list-element {
    margin: 0.5rem;
}

.list-element li {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.list-element li label {
    text-align: left;
    margin: 1rem 0;
}

.submit-buttom {
    width: 100%;
    padding: 1rem 0;
}

.terms-conditions {
    font-size: 1.2rem;
}